
@import url('https://fonts.googleapis.com/css?family=Quicksand');


h1 {
    font-family: 'Futura';
    font-family: 'Sansita', sans-serif;
    font-family: 'Ramabhadra', sans-serif;
    color:white;
    
}

p, li, h2, h3, h4, h5 {
    
    color:white;
    
}



hr {
    background-color: white; 
    height: 1px; 
    border: 0;
}



body {
    font-family: 'Sansita', sans-serif;
    font-family: 'Ramabhadra', sans-serif;
}

#cardMargin {
    margin-left: 2%; 
    margin-right: 2%;
    
}

#webtextLeft {
    text-align:left; 
    margin-left:2em;
}
#webtextRight {
    text-align:right; 
    margin-right:2em;
    
}

#rowText {
    padding-left:2%;
    
    
}


body, html {
	padding: 0!important;
	margin: 0!important;
    height: 100%;
}

/* The hero image */
.hero-image {
	background-image: url({{url_for('static',filename='images/MeResized.jpg'}})
	height: 80em;
	width:100%;  
	postion:absolute; 
	overflow: visible;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.mainImage{
	display:none !important;
}




/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white
    
}

img.card-img-top:hover {
    position: absolute;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    z-index: 1000;
}
* {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}form: scale(1.1);

