{% extends "header.html" %}

{% block body %}
<div class="container-fluid">
    
</div>

<div class="container">
    <div class="row">
        <div class="col-md">
            
            <div>
                <img src="/static/images/pennstate.png" style="height:10em">
            </div>
            
            <br />
            
            <h1 class="display-3">About The Creator</h1>
            <p>
            Mark Makowski is a senior DIGIT major at Penn State Behrend. He has a love for photography, playing music, and creative writing. Currently, he spends his time employed as a Consultation Agent at Best Buy in Erie, when not working on other projects. Mark is also the Public relations chair in the Interfraternity Council, as well as Scribe chair for Triangle Fraternity, at Behrend. During the Spring 2017 semester, Mark was given the opportunity to intern at HAPPI 92.7 in Erie, assisting in projects that help betterment of the company. During this time, Mark has also taken the Radio Practicum class with Mr. Thomas Deau. During this class, Mark created a radio show that played classic rock albums that were initially produced on vinyl, called The Vinyl Version.</p>
            
        </div>
        
        
        
        
        
        <div class="col-md">
            <h1 class="display-2">FAQ</h1>
            <div class="row justify-content-center">
                <p><b>Why should I used this site compared to others that do the same thing?</b></p>
                <div class="col-md">

                </div>
                <p>This site is made to be straight to the point. Watermark your photos and go on with what you were doing. No need to make an account or pay or any of that garbage.</p>
                <br />
            </div>
            <div class="row justify-content-center">
                <p><b>Why was this made?</b></p>
                <div class="col-md">
                    <p>This was made for a semester long assignment for Digit 400 at Penn State Behrend, taught by Dr. Aaron Mauro. I felt this class was about the technology and actually understanding how everything all ends of web developement are made, from sever management, html, scipting in Python on the backend, and the idea of creating an application that actually has some practical use.</p>
                    <br />
                </div>
                
            </div>
            <div class="row justify-content-center">
                <p><b>Is it secure?</b></p>
                <div class="col-md">
                    <p>Of course! The connection you are using, assuming you were able to connect through HTTPS, uses a 256 bit encryption when sending information to our server. The images are only saved for a short time for processing, and then disposed of. </p>
                    <br />
                </div>

            </div>
            <div class="row justify-content-center">
                <p><b>Why does it keep telling me to try again?</b></p>
                <div class="col-md">
                    <p>I had some issues in with keeping the photo upload variables sticking with the page's function, if that makes sense. By the time your session gets to the placement page, where it needs all of the variables, I have coded it to tell you to try again, instead of giving you a nasty Error 500 on your screen, when it has problems finding a variable. </p>
                    <br />
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="col-lg">

                </div>
            </div>
            
        </div>
    </div>
</div>


<a href="javascript:history.go(-1)">
    <button type="button" class="btn btn-info">GO BACK</button>

</a>



{% endblock %}