{% extends "personal_header.html" %}

{% block body %}



    <h2>Contact.html</h2>
    <div class="container">
        
        <div class="row justify-content-center">
            <div class="col-md"> 

            </div>
            <div class="col-md"> 
                

            </div>

        </div>
    </div>
        
    <br />

    <a href="javascript:history.go(-1)">
        <button type="button" class="btn btn-info">GO BACK</button>

    </a>
    <br />




{% endblock %}