{% extends "personal_header.html" %}

{% block body %}



    
    <div class="container">
        
        <div class="row justify-content-center">
            <div class="col-md"> 
                <h2>Contact Me!</h2>
                <br/>
                <h5>Hi There!</h5>
                <p>To be honest, this part of the website isn't done yet and I want to make sure it is perfect before I update this page.</p>
                <br>
                <p>As of right now, feel free to contact me at <a href="mailto:mark.a.makowski@gmail.com">mark.a.makowski@gmail.com</a></p>
            </div>
            <div class="col-md"> 
                

            </div>

            
            
        </div>
        <a href="javascript:history.go(-1)">
        <button type="button" class="btn btn-info">GO BACK</button>

    </a>
    </div>
        
    <br />

    
    <br />




{% endblock %}