<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Batchmark.me</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">

        <script>
        // Modal Initializer
            $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
            })
            
            // File Upload Javascript
            $(document).ready(function(){
                  var i=1;
                 $("#add_row").click(function(){
                  $('#addr'+i).html("</td><td><input name='input-file-preview"+i+"' type='file' class='form-control input-md'/></td>");

                  $('#tab_logic').append('<tr id="addr'+(i+1)+'"></tr>');
                  i++; 
              });
                 $("#delete_row").click(function(){
                     if(i>1){
                     $("#addr"+(i-1)).html('');
                     i--;
                     }
                 });

            });
            
        </script>
    </head>

    <header>
    <!-- Nav -->
        <div style="background-color:aliceblue">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="/">
                    <img style="max-width:120px; text-align:left " src="{{ url_for('static', filename='images/logo.png') }}">
                    
                </a>
            </li>
        </ul>
        </div>

        
        
        
        <!-- Login Model -->
        
    </header>
    <body>
        <div style="background-color:aliceblue">
            <div class="container-fluid">
                <div class = "row">
                    <a href="/">
                    <div class="jumbotron" style="margin-left:2em; margin-right:2em">
                        <div class="container-fluid ">
                          <div class="col-md" style="color:black;"><h1 class="display-1">Batchmark.me</h1>
                            <h4>A Website by Mark Makowski</h4>

                        </div>
                    </div>
                </div>
                    </a>

                <div class="col-md">
                    <nav class="navbar navbar-expand-sm navbar-fixed-top sticky-top" style="width:500px">
                      <a class="navbar-brand" href="#">
                        <a href="/">
                            <img src="{{ url_for('static', filename='open-iconic/svg/camera-slr.svg')}}" width="50em" alt="CameraLogo" >
                          </a>
                        </a>
                      <ul class="navbar-nav">
                        <li class="nav-item">
                          <a href="/watermark/" >
                              <button type="button" class="btn btn-primary btn-lg btn-block btn-huge" style='margin:5em'>Upload</button>
                            </a>
                        </li>
                        <li class="nav-item">
                          <a href="/about/">
                              <button type="button" class="btn btn-primary btn-lg btn-block btn-huge" style='margin:5em; margin-left:10em'>FAQ</button>
                            </a>
                        </li>
                      </ul>
                    </nav>
                </div>
            </div>
            </div>
            <hr />
            <div class="container-fluid" style=" min-height:100%">

                {% with messages = get_flashed_messages() %}

                    {% if messages %}

                        {% for message in messages %}
                            <div class="alert alert-warning" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="True">&times;</span></button>
                                {{message}}
                            </div>
                        {% endfor %}

                    {% endif %}

                {% endwith %}
                {% block body %}
                    <!-- Content -->
                {% endblock %}
            </div>
        </div>
        
        
        
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    </body>
</html>
