{% extends "header.html" %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>DIGIT 400</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">


        <script>
        // Modal Initializer
            $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
            })
        </script>
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108770593-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-108770593-1');
        </script>
        
        
    </head>
    <body>
 
        <div class="container-fluid">
            <div class="row"> <!--Bootstrap Row -->

                <div class="col col-md-6" style="text-align:left; margin-left:2em">
                        <h1 class="display-3">Example Text</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis lectus ac sem commodo scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc a rutrum lectus, nec semper risus. Integer commodo nunc at odio sollicitudin, sed dignissim elit ullamcorper. In nulla quam, consectetur vel mi dictum, congue interdum nisi. Nullam dapibus augue ut placerat imperdiet. Mauris dui leo, placerat non luctus sed, consectetur sed augue. Integer dignissim tempor urna, ut convallis ligula tempus sed. Proin hendrerit arcu eu ante dignissim hendrerit.
                    </p>
                </div>

                <div class="col col-md-4"><img src='/static/images/StockImg.jpg' alt="placeHolder" height=70% ></div>
                <!-- style="display: block; position: relative; left: -5%; margin-left:2em; -->

            </div>

            <div class="row"> <!-- bootstrap row -->
                <div class="col col-md"><img src='/static/images/StockImg.jpg' height=70% alt="placeHolder"></div>
                    <div class="cold col-md-5" style="text-align:right; margin-right:2em">
                        <h1 class="display-4">Example Text</h1>
                        <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis lectus ac sem commodo scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc a rutrum lectus, nec semper risus. Integer commodo nunc at odio sollicitudin, sed dignissim elit ullamcorper. In nulla quam, consectetur vel mi dictum, congue interdum nisi. Nullam dapibus augue ut placerat imperdiet. Mauris dui leo, placerat non luctus sed, consectetur sed augue. Integer dignissim tempor urna, ut convallis ligula tempus sed. Proin hendrerit arcu eu ante dignissim hendrerit.
                    </p>
                </div>
            </div>



        </div>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        
    </body>
</html>
{% endblock %}