{% extends "personal_header.html" %}

{% block body %}

<h1 class="title">Business</h1>

    <div class="container">
        <div class="row justify-content-center">
          
          <div class="col-sm-6">
            <div class="card text-white bg-dark">
                 <img class="card-img-top" src="/static/port/SolLetter.jpg" alt="Card image - Solicitation Letter">
              <div class="card-body">
                <h5 class="card-title">Solicitation Letter</h5>
                <p class="card-text">A Soliciation letter written for the Information Technology Service desk at Penn Staste Behrend.</p>
                <a href="/sol/" class="btn btn-primary">More</a>
              </div>
            </div>
            </div>
            <div class="col-sm-6">
                <div class="card text-white bg-dark">
                     <img class="card-img-top" src="/static/port/CompUgr.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Penn State Behrend Computer Center</h5>
                    <p class="card-text">Feasibility Study of replacement and upgraded devices</p>
                    <a href="/personal_computer/" class="btn btn-primary">More</a>
                  </div>
                </div> 
            </div>
        </div>
        <hr />
        
        <div class="row justify-content-center">
          <div class="col-sm-6">
            <div class="card text-white bg-dark">
                 <img class="card-img-top" src="/static/port/BusLogo.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Triangle Fraternity</h5>
                <p class="card-text">Redesigned Report Submission Feasibility Study</p>
                <a href="/triangle/" class="btn btn-primary">More</a>
              </div>
            </div>
              
          </div>
          <div class="col-sm-6">
            <div class="card text-white bg-dark">
                 <img class="card-img-top" src="/static/port/GeekSquadRep.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Geek Squad</h5>
                <p class="card-text">Redesigned Geek Squad Apointment Scheduler</p>
                <a href="/geekSquad/" class="btn btn-primary">More</a>
              </div>
            </div>
              
              
          </div>
        </div>
        
        
        
        
    </div>
        
    <br />

    <a href="javascript:history.go(-1)">
        <button type="button" class="btn btn-info">GO BACK</button>

    </a>
    <br />




{% endblock %}