{% extends "personal_header.html" %}

{% block body %}



    <h1 class="title" style="font-size:900%; left: -3%;">Production</h1>
    <div class="container">
        <div class="row">
        
            <div class="col">
                <h3>Personal Audio Editing</h3>
                <div class="card text-white bg-secondary">
                  <div class="card-header">Production</div>
                  <div class="card-body">
                    <p class="card-text">During the Spring 2017 semester, I was given the opportunity to intern at HAPPI 92.7 in Erie, assisting in projects that help betterment of the company. During this time, I have also taken the Radio Practicum class with Mr. Thomas Deau, and was given the opportunity to host my own radio show, called The Vinyl Version. It was all quite an enjoyable experience.</p>
                  </div>
                </div>
            
            </div>
            
            <div class="col">
                <img src="/static/port/vinyllogo.png" alt="Vinyl-Photo" width="400em">
            
            </div>
        </div>
        
        <br />
        
        <div class="row">
            <div class="col">
                <div class="card text-white bg-secondary">
                  <div class="card-body">
                    <p class="card-text">Also during this time, I was able to presue an interest and audio editing and recording. I was able to study the concepts of microphones, electronic waves, ProTools, Adobe Audition, drum tracking, side-chain compression, equalization, and rythem. The focus of this class was to create professionally styled, quality material.
            I was also able to record my radio shows through Adobe Audtion, and learn to effectively equalize audio and voice tracks.  </p>
                  </div>
                </div>
            
            </div>
            <div class="col">
                <div class="card text-white bg-secondary">
                  <div class="card-header">Production</div>
                  <div class="card-body">
                    <p class="card-text"><h3>Projects</h3>
                      <ul>
                        <li><a>Project</a></li>
                        <li><a>Project</a></li>
                        <li><a>Project</a></li>
                      </ul>
                      
                      
                      </p>
                  </div>
                </div>
            
            </div>
        
        </div>

        <br />

        <div class="row">
            <div class="col">
                <div class="card text-white bg-secondary">
                  <div class="card-header">The Beatles Show</div>
                  <div class="card-body">
                    <p class="card-text">
                      <p><span style="font-weight: 400;">Abbey Road - 26 September 1969 </span></p>
<p><span style="font-weight: 400;">11th Studio Album by Enligh Rock band The Beatles</span></p>
<p><span style="font-weight: 400;">Blues, pop, and progressive rock</span></p>
<p><span style="font-weight: 400;">Moog Synth &amp; Leslie Speaker</span></p>
<p><span style="font-weight: 400;">#1 in UK and US with mix reviews from critics</span></p>
<p><span style="font-weight: 400;">Best Selling Albums</span></p>
<p><span style="font-weight: 400;">Walking Album</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">RIght outside Abbey Road Studios</span></li>
</ul>
<p><br /><br /></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Come Together /</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Something</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Released together as a single</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Top charts of US and #4 in UK</span></li>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Maxwells Silver Hammer</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Dark escentric about murderous Maxwell Edison</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Music is upbeat and happy sounding, lyrics differ</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">16 takes of rhythm tracks, and guitar overdubs</span></li>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Oh! Darling</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Oh Darling (I&rsquo;ll Never Do You no Harm)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Not a Single</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Japan june 1970, Released alongside Here Comes the Sun</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Sang it every day in the morning (Paul) - Felt the music</span></li>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Octopus Garden</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Ringo Starr - Second Song - Guide Vocals</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Order Fish and Chips and Given Squid</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">32 Takes</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">The Beatles Rock Band</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Gurgles</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Compressors and limiters</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Bubbles through milk through a straw</span></li>
</ul>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">I Want You(She&rsquo;s so Heavy)UK</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">6/8 time, with an arpeggio guitar theme in D minor, tuned to e7 and b flat 7 cadencing to an A augmented chord</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Lennon Wrote for Ono</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Rehearsed a few times</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Recorded at Trident Studios on 22 Feb 1969</span></li>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Guitar World named 34 of 50 Heaviest Songs</span></li>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Here Comes The Sun</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">George Harrison - Something, While my Guitar Gently Weeps</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Written in the country house of Eric Clapton</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Key of A Major</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">The main refrain is a D chord (Reverse progression is used is Eight Days a Week and Sgt Peppers Lonely Hearts Club Band) that follows a pentatonic scale through the verses from E to C sharp</span></li>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Because</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Harpsichord followed by Lennon on Guitar feeding through a Leslie speaker</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">MCcartney and Harrison - Favorite - Practice (Get it right)</span></li>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">You Never Give me Your Money</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Sun King</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Mean Mr. Mustard \</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">&ldquo;A bit of crap I wrote in India&rdquo; - Lennon</span></li>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Polythene Pam \</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">She Came in Through the Bathroom Window</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Apple Scruff - Ladders </span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Clothes - Walk the Dog</span></li>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Golden SLumbers /</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Carry That Weight</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Cradle Song - Thomas Dekker</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Represent what they couldn't do as individuals but rather as a group</span></li>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">The End /</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Her Majesty</span></li>
</ul>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">BOWIE YO</span></p>
                      
                      </p>
                  </div>
                </div>
            
            
            </div>
        </div>
    <br />
        <div class="row">
            <div class="col">
                <div class="card text-white bg-secondary">
                  <div class="card-header">The Rolling Stones Show</div>
                  <div class="card-body">
                    <p class="card-text">
                      <p><span style="font-weight: 400;">Vinyl 8 - The Stones</span></p>
<p><span style="font-weight: 400;">Compilation Album</span></p>
<p><br /><br /></p>
<p><span style="font-weight: 400;">Intro it up</span></p>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Gimme Shelter</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Let it Bleed - 1969</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Gimmie was on the album, but everyone still just still did Gimme</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Last-minute late-night recording and mixing sessions of the powerful vocal of Merry Clayton</span></li>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Live with Me</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Let it Bleed</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">First song recorded with new guitarist, Mick Taylor</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">First time recorded with a tenor saxophone (Bobby Keys)</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Many times after</span></li>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Mick Jagger - Country Honk</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">2 Lead guitar sounds with one guitar</span></li>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Not Fade Away</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Released as a cover</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">7 in single</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Recorded Feb 21, 1964</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">First Single in US</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">&ldquo;I wanna be your man&rdquo; On B Side</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">48 on US 100 Billboard Hot Singles chart</span></li>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Can't You Hear Me Knocking</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Sticky Fingers - 1971</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Open G CHord by Richards to Begin the song</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">2:30 later, congs, tenor sax, organ, and more guitar work</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Guitar Hero</span></li>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">I Got the Blues</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Slow paced blues with soul feel</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">6/8 time </span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Ballad of a few reverbed guitars with a gospel feel, a lot of brass, and a buildup of tension</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Billy Preston on Hammond organ, Bobby Keys on sax</span></li>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">(I can&rsquo;t get no) satisfaction</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Out of Our Heads - 1965</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Best Known songs</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">RIchard&rsquo;s three chord guitar riff</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">First released as a single in June 1965, then July for the album</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">#2 on Rolling Stone Mag&rsquo;s 500 Greatest Songs of All Time</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Key is E Major with 3rd and 7th degree occasionally lowered or bent</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Creates Mellow Song/Tone</span></li>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Lyrics refer commercialism and sexual frustration</span></li>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Time is On my Side</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Still Life - Sept 13, 1982</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">12 x 5 - September 26, 1964</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">#6 on US Billboard Pop Singles Charts</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">#62 Uk singles chart, Live Version (Still Life) 1982</span></li>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Ruby Tuesday</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Between the Buttons - 12 Jan 1967</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">#1 in US for singles</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">#3 in UK</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Rolling Stone 310 on 500 Greatest Albums of All Time</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Chain Restaurant</span></li>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Paint it Black</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Aftermath - 6 May 1966</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">First as a single, then as the opening track for the album</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">#1 in both Billboard Hot 100 and UK Singles Chart</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Lyrics - Bleakness and depression through the use of color based metaphors</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Guitar Hero 3</span></li>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Sympathy for the Devil</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Beggars Banquet - Feb 1969</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">First person point of view of the devil</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Jagger thinking about human existence</span></li>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Rock arrangement with a samba rhythm</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Bob Dylan Style</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">#32 on Rolling Stones Greatest Songs of all Time</span></li>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">You Can&rsquo;t Always Get What You Want</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Let it Bleed</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">#100 of 500 RS Greatest Songs of All Time</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Features London Bach CHoir</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Jimmy Miller - Producer</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Drums</span></li>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Al Kooper on organ and piano</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">With French horn</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Address major issues of the 60s: Love, politics, and drugs</span></li>
</ol>
</ol>
                      
                      </p>
                  </div>
                </div>
            
            
            </div>
        </div>

    <div class="row">
            <div class="col">
                <div class="card text-white bg-secondary">
                  <div class="card-header">Hendrix Show</div>
                  <div class="card-body">
                    <p class="card-text">
                      <p><span style="font-weight: 400;">Intro</span></p>
<p><span style="font-weight: 400;">Welcome Back to the Vinyl Version. Classic Jams to start your monday right!</span></p>
<p>&nbsp;</p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Are you Experienced by Jimi Hendrix Exp 1967</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Debut studio rock album</span></li>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Foxey Lady</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Spelled Foxey on this album and was later issued as their third single in the US with the alternate spelling</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">More frequent concert song</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">153 on Rolling Stone Magazine 500 Greatest Songs of All Time</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Dominant seventh sharp ninth chord, a jazz and rhythm and blue-style, often to referred as the Hendrix Chord</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Chord shaken wide in an exaggerated vibrato so other strings are also hit</span></li>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Manic Depression</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Lyrics describe more of a romantic frustration rather than manic depression</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Performed &frac34; or 9/8 </span></li>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Red House</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Slow 12 bar blues</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Recorded several seversion w/ several artists</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">One of first songs record by experience</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Noel Redding:</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Bassists</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Use a terrible studio hollow body electric &nbsp;guitar</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Controls set to resemble a bass</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Tuned a half step down for bass sound</span></li>
</ul>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Can You see Me(NA)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Love or Confusion(NA)</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Talk about album:</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Track records</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">The Who, John Lennon, The Heartbreakers</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">One of the great rock albums of all time</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Established new direction of psychedelic and hard rock music</span></li>
</ul>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">I Don&rsquo;t Live Today - 3:43</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Release dedicated to American indians and other minority groups</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">THe tribal rhythms serve as a platform for hendrix to use his innovative guitar feedback</span></li>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">May This be Love - 3:11</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Olympic Studio, London </span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Sold Ballad to demonstrate his other writing abilities</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">E and A major pentatonic scales to slide around the guitar</span></li>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Fire - Pretty hot</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Released with the UK title 1968:</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Let me LIght your Fire</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">7 Inch 45 rpm</span></li>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Covered by RHCP, Kingston Wall, Alice Cooper, Those Darn Accordions</span></li>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Third Stone From the Sun - Instrum</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Mostly instrumental composition</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Jazz and psychedelic rock, with brief spoken passages</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Title - Hendrix and Science Fiction</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Key of E</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">2:30- VIbrato arm swoop, sets the stage for his improv</span></li>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Remember(NA) -2:43</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Are you Experienced? 3:55</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Most original composition</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Largely based on one chord</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Anthem Rock</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Recorded Guitar and drum parts played backwards with a repeating piano with no bass</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Song where he breaks the guitar during live</span></li>
</ul>
</ul>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Next Week</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Let it be by the beatles</span></li>
</ul>
<p><span style="font-weight: 400;">Heres some quick info you can pickup about other BVZ shows</span></p>
                      
                      </p>
                  </div>
                </div>
            
            
            </div>
        </div>

    <br / >
            <div class="row">
                <div class="col">
                    <div class="card text-white bg-secondary">
                      <div class="card-header">Billy Joel Show</div>
                      <div class="card-body">
                        <p class="card-text">
                            <p><span style="font-weight: 400;">The Vinyl Version</span></p>
<p><span style="font-weight: 400;">5th Studio Album by American SInger-song writer</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Released in September 29, 1977</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Columbia Records</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Parent Company of sony</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">David Bowie, Pink Floyd, AC/DC, Bob Dylan and More</span></li>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">The Stranger</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Break thru album</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">#2 for six weeks on US album charts</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">His best selling non-compilation album to date. </span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Ranked 70 on Rolling Stone's 500 greatest albums of All time</span></li>
</ul>
</ul>
<p>&nbsp;</p>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Movin&rsquo; Out</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">The Stranger</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Released a single</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">#2 in Japan on the Oricon Chart</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Holding Group the supplies statistics and information on music and the music industry in japan. </span></li>
</ol>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Just the Way You Are</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Reach #3 in us</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Top 20 single in UK</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">First Gold Single</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Dream</span></li>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Scenes from an Italian Restaurant</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Vienna</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">New York Times - July 2008</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Favorite song, Along with Summer, Highland Falls</span></li>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Covers</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Ariana Grande, Mac Miller, Andrew DeMuro</span></li>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">13 Going on 30</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Jennifer Garner and Mark Ruffalo</span></li>
</ol>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Only the Good DIe Young</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Lyrics about deflowering a catholic girl</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Banned from a lot of radio</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Religious Group</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Joel told Songwriter Magazine</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Album went up in the charts after</span></li>
</ol>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Demo Version</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Reggae with Church Organ</span></li>
</ol>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">She&rsquo;s Always a Woman</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Love song</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Modern woman whom he falls in love with her quirks as well as her flaws. </span></li>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">#17 in US in 1977</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">#53 in UK in 1986, double side release</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">6/8 Time Signature</span></li>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Get it Right the First Time</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Almost funk, disco beat</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Joel told USA today on July 9 2008, &ldquo;It was written as a relief to the strength of other things. We thought we needed to just have a little breath, which is really just all it is it&rsquo;s just breathing.&rdquo;</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Drummer Liberty DeVitto</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">One of the most difficult song to record</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">So.. they didn&rsquo;t get it right the first time. </span></li>
</ol>
</ol>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Everybody Has a Dream</span></li>
</ol>
<p><br /><br /></p>
<p><span style="font-weight: 400;">Hey Joe - Jimi Hendrix </span></p>

                          </p>
                      </div>
                    </div>


                </div>
            </div>
<br />
            <div class="row">
                <div class="col">
                    <div class="card text-white bg-secondary">
                      <div class="card-header">Zed Zeppelin Show</div>
                      <div class="card-body">
                        <p class="card-text">
                            <p><span style="font-weight: 400;">Led Zeppelin- Led Zeppelin - 12 Jan 1969</span></p>
<p><span style="font-weight: 400;">Labeled by the Atlantic records, - Last Week</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">2004, Grammy Hall of Fame</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">#29 on Rolling Stone Magazine&rsquo;s list of 500 greatest albums of all time</span></p>
<p><span style="font-weight: 400;">Kept that position after it was updated from 2012 to 2014</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">The band started when the Yardbirds disbanded (aug 1968)</span></p>
<p><span style="font-weight: 400;">Jimmy page,Led Zeppelin and Yardbird&rsquo;s last remaining member recruited the rest (John Paul Jones, Vocals Robert Plant, and drummer John Bonham) </span></p>
<p><span style="font-weight: 400;">Tour as New Yardbirds and changed their name as they returned to England.</span></p>
<p>&nbsp;</p>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Good times bad times (2:35 Start)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Babe I&rsquo;m Gonna Leave You (6:26 Start)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">You Shook me (6:08)</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Bill Janovitz - Writer for Boston Phoenix and Post road Magazine</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">&ldquo;a heavy, pummeling bit of post-psychedelic blues-rock, with healthy doses of vocal histrionics from Robert Plant and guitar fireworks from Jimmy Page"</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Twelve Bar blues style</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Backward echo studio processing effect on Plant&rsquo;s Vocals</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">End of Song</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Similar to Ten Little Indians by The Yardbirds</span></li>
</ol>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Dazed and Confused (6:26)</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Originally by Jake Holmes (1967)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Potential break up of a relationship</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Versions up to 40 minutes, including guitar with violin bow</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Yardbirds played during tour</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">First song Page wanted to play as Zepp</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Holmes Song</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Used title, penned new lyrics, and modified melody. But similar to yardbirds versions.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Holmes DIdn&rsquo;t get involved</span></li>
</ol>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Your time is gonna come (3:17)</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Unfaithful girl who will &ldquo;Pay the price&rdquo; for her deceitful ways</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Out of tune fender 10 string steel guitar</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Bassist John Paul Jones - Organ - Used pedal effects for bass</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Slash -(Guns n Roses) Favourite Zeppelin song</span></li>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Black mountain side</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Instrumental</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Inspired by Irish Folk song</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Down by the Waterside</span></li>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Simulate Sitar by tuning to DF-AF-DF-GF-AF-DF</span></li>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Communication breakdown (2:19)</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Page - Vox wah-wah pedal to create the &ldquo;guitar in a shoebox&rdquo; on lead guitar</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">One of the few song that Page sang backing vocals</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Backing vocals: harmonizing with the lead singer or musician</span></li>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">This and Heartbreaker were the most popular songs the opened with or encored</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">The Ramones bassist Andy Shenoroff - Inspiron - Career</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Used in The Simpsons ands Small Soldiers </span></li>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">I can't quit you baby (Directly Into the Song - Hot) </span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Twelve bar blues</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Originally written by Willie Dixon </span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">First recorded by Otis Rush is 1956</span></li>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">How many more times (7:48)</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">ALMOST DONE FOLKS :(</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Longest song of the album</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Album sleeve 3:30 time length</span></li>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Actually 8:28 but radio is annoying</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">So he wrote the track as shorter on the album</span></li>
</ol>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Ender - Billy Joel (Hype at 4:09 - Words at 3:59)</span></li>
</ol>
<p><span style="font-weight: 400;">Next week we are going to be listening to a Billy Joel Album so that is going to be a great time. I hope to see you there, and I hope you join me again here, on the Vinyl version, here on BVZ radio. </span></p>

                          </p>
                      </div>
                    </div>


                </div>
            </div>





    <br />





{% endblock %}