{% extends "personal_header.html" %}

{% block body %}



    <h1 class="title" style="font-size:900%; left: -3%;">Grotesque</h1>
    <div class="container">    
        <div class="row justify-content-center">
            <h3>Grotesque</h3>
            <p>&nbsp;</p>
            <br />
            
        </div>
        
        <hr />
        
    
    </div>

    <div class="container">
        <div class="row">
        
        
              <h4>A Short story about a Grotesque Character </h4>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec pellentesque nunc. Pellentesque mollis sem ut arcu porttitor dictum. Integer faucibus arcu ipsum, vitae fringilla arcu pellentesque in. Donec mollis lectus sed suscipit pellentesque. Maecenas at lacus vel magna pulvinar molestie eget quis neque. Mauris ut finibus nunc. Sed tincidunt posuere suscipit. Sed tortor orci, tincidunt sed interdum sit amet, feugiat a nunc. Fusce ut purus ut massa dictum varius. Fusce rhoncus ipsum ut ullamcorper pulvinar. Maecenas dapibus urna nec viverra cursus. Quisque augue tellus, semper non lorem ut, scelerisque porta quam.</p>

<p>Fusce nec scelerisque quam. Nam porta libero non orci semper, id bibendum metus rhoncus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque justo mi, ultricies sed ultrices sed, venenatis quis sem. Ut tortor nibh, cursus vel est ac, gravida pellentesque ante. Fusce interdum, felis at viverra placerat, eros metus auctor dolor, id sollicitudin.
            
            </p>
                <a href="#">
            <button type="button" class="btn btn-info">Download!</button>
            </a>
        
        </div>


    </div>

    <div class="container" >
        <div class="card text-white bg-dark mb-3">
          <div class="card-body">
            <p class="card-text"><p><span style="font-weight: 400;">Mark Makowski</span></p>
<p><span style="font-weight: 400;">Grotesque</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">It has been a few years since the accident. Right now, all I want to see if my wife and children, but that is impossible. If I didn&rsquo;t have such a love for donuts, I would be able to see my family again. </span></p>
<p><span style="font-weight: 400;">A few years ago all of us wanted to take a nice family trip to Florida. It sounded like a great idea, and my kids were more than excited to see their great-grandparents, who have lived in Orlando for several decades. I saw them often growing up and I thought it would be nice to see them before anything happens to them, because old people. </span></p>
<p><span style="font-weight: 400;">As you may have expect, the kids wanted to go to Disney World, and even though I may be considered a grown adult, I was still crazy excited when my wife mentioned the idea. </span></p>
<p><span style="font-weight: 400;">We pack up all of our items, our clothes, several pairs of shoes, some money, and then we were on our way. Coming from Southern Rhode Island, the drive wasn&rsquo;t too bad. We had a few sites along the way, but driving was pretty easy. We got through the northern states, New Jersey, Maryland, pretty quick. </span></p>
<p><span style="font-weight: 400;">We stopped in Washington D.C. on our way to show the children of the monument. They got to see the national mall, and they listened to me while I talked about how government works. But I knew my children were starting to get bored of seeing large buildings and such, and just wanted to keep going on our journey. So we did. </span></p>
<p><span style="font-weight: 400;">We continued through the next few states, stopping occasionally to stop at the bathrooms, and to get some food. We would just get some snacks to help us on our way.</span></p>
<p><span style="font-weight: 400;">As I started to exit the state of Virginia, my wife mentions that the next state is North Carolina. There is only one thing I know about North Carolina is the Outer Banks, and that NC is the birthplace of Krispy Kreme Donuts. God knows I love me a nice donut.</span></p>
<p><span style="font-weight: 400;">I told my wife that I wanted to stop at the Krispy Headquarters and see the big factory. She called me childish and continued to pull up the map information for it. I told the kids we were stopping at a massive donut shop, and the donuts are typically covered with sugar and super warm. The kids seemed more than convinced, and might have actually been upset if we didn&rsquo;t go, after the speech I gave them. I also told them they would probably get a free donut. </span></p>
<p><span style="font-weight: 400;">It only takes us another half hour, or so, to adventure to Winston-Salem NC, the birthplace of Krispy Kreme. I was ready. These Krispy Kreme donuts are mine, and they are going to be like Heaven in my mouth. Don&rsquo;t knock it until you try it. </span></p>
<p><span style="font-weight: 400;">The Krispy Kreme building was beautifully built, similar to how you expect a factory to be built, but with a lot more metal and white, shiny paint. Everything was clean, from the waiting rooms, to the bathrooms, everything was spotless. I was in Krispy Heaven, and so were the kids. My wife always thought they were too sweet for her, so she wasn&rsquo;t a huge fan. </span></p>
<p><span style="font-weight: 400;">We are welcomed by a woman, in a soothing voice, wearing a Krispy Kreme apron, hat, and dress attire under it. She asked us if we wanted a tour of the facility, and proceeded to guide us through a pair of large double doors. They had us put on aprons and hairnets, to make sure nothing gets dirty, and so we don&rsquo;t get hurt. </span></p>
<p><span style="font-weight: 400;">Our guide takes us down the product line, starting at the boxes, and then the making of the glaze. There were movie-style line dividers between where the tour was, and where actual product was being made. Everything looked delicious and I just wanted to eat it all. The glaze looked gooey and wonderful, and the smell of the frying donuts was magnificent. </span></p>
<p><span style="font-weight: 400;">I thought it was interesting that there was a cover on top of the donuts whenever they are frying. The tour guide mentioned the lid, and how it makes the donuts fry at a higher temperature, and then proceeded to take it off to show the crowd, which included my family and a handful of random looking people. </span></p>
<p><span style="font-weight: 400;">The guide takes off the lid and I was curious what the inside of that fryer looked like. Yes, it people looked exactly like any other fryer, but that isn&rsquo;t the point. I stepped forward, and not looking down at the other kids around me. I partially stumbled over on the children&rsquo;s feet, and lost my balance. </span></p>
<p><span style="font-weight: 400;">Normally, losing my balance isn&rsquo;t a big deal. It happens to everyone. But I don&rsquo;t think everyone loses their balance directly into an industrial sized fryer, leaving them with second and third-degree burns on their legs, torso, neck, and face. I was rushed to the emergency, burn ward directly after. </span></p>
<p><span style="font-weight: 400;">My family still went to Disney World. I wanted them to still have a nice trip, even though I was in a burn ward in North Carolina. Some of the oil splashed into my eyes, leaving me legally blind, and almost completely covered in bandages, from head to toe. </span></p>
<p><span style="font-weight: 400;">I never got my free donut. </span></p></p>
          </div>
        </div>
        
        
      
        
</div> 
        
        
        
        <hr />
        
        
        
        
    <br />

    <a href="javascript:history.go(-1)">
        <button type="button" class="btn btn-info">GO BACK</button>

    </a>
    <br />




{% endblock %}