{% extends "personal_header.html" %}

{% block body %}



    <h1 class="title">About</h1>
    <div class="container">
        
        <div class="row justify-content-center">
            <div class="col-md"> 
                <div class="card text-white bg-dark mb-3">
                    <div data-spy="scroll" data-offset="0">
                      <h1 id="info">Information</h1>
                        
                        <div class="card-text"  >
                            <div id="cardMargin" style="margin-left: 2%; 
    margin-right: 2%;">
                        <p>Hi There!</p>
                        <p>My name is Mark, and I am a Digital Media, Arts, and Technology Major at Penn State Erie, The Behrend College, with the expected Graduation of December 2018</p>
                        <p>
                        At Penn State, I have been able to take advantage of a lot of opportunities to improve my learning. During 2017, I was an Ungraduate Researcher through the School of Humanities at Penn State Behrend. Digitalization of Watermarks and photographs collected by Penn State through XML and historic tagging. Photographs were also collected and stored in a database for later use. The information is digitalized in order collect and share the historic archive to the rest of the world without causing damage to the artifact.

                        </p>  
                        <p>
                            I was also given the opportunity to develope websites for nonprofit organizations in the Erie area as a part of being a Web Developer at Penn State Behrend through the School of Business. Our focus is to create, redesign, or improve the web presence of nonprofit organizations. 
                        </p>
                            
                        <p>During the Spring 2017 semester, I was given the opportunity to intern at HAPPI 92.7 in Erie, assisting in projects that help betterment of the company. During this time, I have also taken the Radio Practicum class with Mr. Thomas Deau, and was given the opportunity to host my own radio show, called The Vinyl Version. It was all quite an enjoyable experience.
                            </div>

</p>
                        
                        
                        
                        </div>
                        
                        

                    </div>
                </div>  
            </div>
            
            
            <div class="col-md"> 
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="/static/images/MeResized.jpg" alt="ME-Card_image">
                  <div class="card-body">
                    <h5 class="card-title">About Me!</h5>
                    <p class="card-text">
                        <address>
                        Mark Makowski <br>
                        724-882-4690	<br>			        	         						          
                        7145 Guyer Road<br>
                        New Kensington, PA 15068<br>
                        <a href="mailto:mark.a.makowski@gmail.com">mark.a.makowski@gmail.com</a><br>
                    </address>
                    <a href="/contact/" class="btn btn-primary">Contact</a>
                  </div>
                </div>
                

            </div>

        </div>
        
        <br />
        <a href="javascript:history.go(-1)">
            <button type="button" class="btn btn-info">GO BACK</button>

        </a>
        
        
    </div>
        
    <br />

    
    <br />




{% endblock %}