{% extends "personal_header.html" %}

{% block body %}



    <h1 class="title" style="left:-2%;">Drawings</h1>



    <div class="container">    
        <div class="row justify-content-center">
          <div class="col-sm-6">
            <div class="card text-white bg-dark" >
                 <img class="card-img-top" src="/static/images/legochar.jpg" alt="lego drawing">
    <div class="item-overlay top"></div>
              
              <div class="card-body">
                <p class="card-text">Experienced in Character Drawing</p>
              </div>
            </div>
            
          </div>
            <br />
          <div class="col-sm-6">
            <div class="card text-white bg-dark">
                <div>
                 <img class="card-img-top" src="/static/images/flowers.jpg" alt="Flower Drawing">
              <div class="card-body">
                <p class="card-text">Experience with Freeform Drawing in AI</p>
              </div>
                </div>
            </div>
              <br />
            <div class="card text-white bg-dark">
                <div>
                 <img class="card-img-top" src="/static/images/words.jpg" alt="Words">
              <div class="card-body">
                <p class="card-text">Experience with Line/Texture Tracing and Graphic Design</p>
              </div>
                </div>
            </div>  
              
          </div>
        </div>
        <br />
        <div class="row justify-content-center">
          <div class="col-sm-6">
            <div class="card text-white bg-dark">
                <div>
                <img class="card-img-top" src="/static/images/mesp.jpg" alt="South Park Style Character">
              <div class="card-body">
                <p class="card-text">Customized character drawing</p>
              </div>
                </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card text-white bg-dark">
                <div>
                <img class="card-img-top" src="/static/images/farm.jpg" alt="Illustrator Farm Background">
              <div class="card-body">
                <p class="card-text">Undertanding of panting and Brushes in Abobe Illustrator</p>
              </div>
            </div>
                </div>
          </div>
        </div>
        

        
    
    </div>

    


        
    <br />

    <a href="javascript:history.go(-1)">
        <button type="button" class="btn btn-info">GO BACK</button>

    </a>
    <br />




{% endblock %}