{% extends "personal_header.html" %}

{% block body %}



    <h1 class="title">Objects</h1>
    <div class="container">    
        <div class="row justify-content-center">
            <h3>The Chair and Goat</h3>
            <p>&nbsp;</p>
            <br />
            
        </div>
        
        <hr />
        
    
    </div>

    <div class="container">
        <div class="row">
        
        
              <h4>A Short story about a Two random objects </h4>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec pellentesque nunc. Pellentesque mollis sem ut arcu porttitor dictum. Integer faucibus arcu ipsum, vitae fringilla arcu pellentesque in. Donec mollis lectus sed suscipit pellentesque. Maecenas at lacus vel magna pulvinar molestie eget quis neque. Mauris ut finibus nunc. Sed tincidunt posuere suscipit. Sed tortor orci, tincidunt sed interdum sit amet, feugiat a nunc. Fusce ut purus ut massa dictum varius. Fusce rhoncus ipsum ut ullamcorper pulvinar. Maecenas dapibus urna nec viverra cursus. Quisque augue tellus, semper non lorem ut, scelerisque porta quam.</p>

<p>Fusce nec scelerisque quam. Nam porta libero non orci semper, id bibendum metus rhoncus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque justo mi, ultricies sed ultrices sed, venenatis quis sem. Ut tortor nibh, cursus vel est ac, gravida pellentesque ante. Fusce interdum, felis at viverra placerat, eros metus auctor dolor, id sollicitudin.
            
            </p>
                <a href="#">
            <button type="button" class="btn btn-info">Download!</button>
            </a>
        
        </div>


    </div>

    <div class="container" >
        <div class="card text-white bg-dark mb-3">
  <div class="card-body">
    <p class="card-text"><p><strong>Mark Makowski</strong></p>
<p><strong>Rocking Chair and Goat</strong></p>
<p><span style="font-weight: 400;">Tammy and Jay were the sort of people who really liked to go to garage sales. They would do our research and find the most popular rummage sales in the area and go to them as a date, together. </span></p>
<p><span style="font-weight: 400;">They would see all kinds of interesting wares random people would put out on their yard or driveway, for other random people to walk to by and to look at, and hoping for one of &ldquo;purveyors of used goods&rdquo; to stop and make a purchase. And yes, Tammy and Jay partake and in the collection of random used garbage, collected from these sales. But, they moreso see it as collecting memories and &ldquo;fine used goods&rdquo; rather than junk. </span></p>
<p><span style="font-weight: 400;">There was this one garage sale in particular that where the duo learned a lot more about garage sale-ing than they had initially hoped for. There was one garage sale in particular that would change the couple&rsquo;s garage sale life forever.</span></p>
<p><span style="font-weight: 400;">Several years ago, after their five-year anniversary, Tammy and Jay took a trip to New Orleans, the home of Jazz, or something like that. Jay found a very large rummage sale, that spans for several neighborhoods throughout rustic New Orleans. Going on trips for these events was common for the two of them. Only beginning their adventure, they packed up in their Subaru station wagon, and adventures to the South, taking only money, a few changes of clothes, each other, and the sense of discovery. </span></p>
<p><span style="font-weight: 400;">They arrived at their destination, a hotel. The couple drive to a beautiful, southern-style house, right outside of New Orleans. This location was not the final destination of the the trip, though. The couple rested at the hotel for the night, and wake early in the morning to go to the sales. </span></p>
<p><span style="font-weight: 400;">They park their vehicle wherever they can find a spot; the entire place is littered with vehicles and people. The little station wagon is just small enough to be able to fit between two very large SUVs. Finally, let&rsquo;s see what treasures we can find. </span></p>
<p><span style="font-weight: 400;">Jay and Tammy walk around, browsing the first few houses of their wares, but try to constrain their want to purchase anything interesting, in the hope the next few houses may contain items equally or more interest than the house prior. </span></p>
<p><span style="font-weight: 400;">There was one house in particular that Jay found interest in. The house was a gorgeously old, southern victorian house that was covered in dormers and windows that covered up partially with boards, as if a tropical storm were approaching. On the lawn of this house sat a collection of items owned by Dr. James Munford, an orthodontist, and his family, who were all collectors of items relating to the culture, or people, of New Orleans. </span></p>
<p><span style="font-weight: 400;">Tammy and Jay walked up the mossy cobblestone pathway toward to family and their tables of stuff. The Munfords were an interesting family, and Tammy and Jay greeted them like normal people, only to be welcomed with hugs, and happiness. The family told the couple a few stories about how long they have in the area, how they got some of the items, and then motioned them to look around. As of right now, Jay and Tammy were right at home. </span></p>
<p><span style="font-weight: 400;">The first couple tables were covered with old, dusty rugs with beautifully orate stitching. After the tables of rugs, there were tables of lamps, painting and other living room items. Each item had a little bit of character to it, which is why Tammy and Jay&rsquo;s interest was so captured in this house. </span></p>
<p><span style="font-weight: 400;">There was one item that seemed catch Jay&rsquo;s eye more than the others. In the back by the entrance of the house, was a beautiful, black rocking chair. Carvings of farm animals, with a goat in the center, decorated the headpiece of the chair, with each cut painted with white-gold matte paint. The chair seemed newer, but somehow, older than the rest of the items on display. </span></p>
<p><span style="font-weight: 400;">Jay walks up to it, examining the detail in the craftsmanship. He looks upon the aging wood, inhaling the smell of old wood in order to get a complete experience. This was the &ldquo;catch of the day&rdquo;, in Jay&rsquo;s eyes. This chair was beautiful and the thought it going to a bad home bothered Jay. This was the treasure of the trip, he thought. It must be. </span></p>
<p><span style="font-weight: 400;">Tammy followed him to the chair and Jay started to sit down. As he sat down, a flash of light appeared around him, blinding Tammy momentarily and was seemingly unnoticed by the other patrons. Tammy regains her vision and notices the absence of chair on the grass. Another moment goes by, and another flash appears. Now, the chair has returned, with Jay sitting on top. </span></p>
<p><span style="font-weight: 400;">He has a face of man who hasn&rsquo;t slept correctly in several years. In place of where his clothes used to be, goat pelts now hang, covering his shoulders and the scratch marks on his ribs. Without hesitation, Jay starts to fall, face-first, into the ground in front of Tammy. They didn&rsquo;t go to too many garage sales later that year. </span></p></p>
  </div>
</div>
        
        
        
      
        
</div> 
        
        
        
        <hr />
        
        
        
        
    <br />

    <a href="javascript:history.go(-1)">
        <button type="button" class="btn btn-info">GO BACK</button>

    </a>
    <br />




{% endblock %}