{% extends "personal_header.html" %}

{% block body %}



    <h1 class="title" style="font-size:900%; left: -5%;">Geek Squad</h1>
    <div class="container">    
        <div class="row justify-content-center">
            <h3>Geek Squad Report Submission System</h3>
            <p>&nbsp;</p>
            <br />
            
        </div>
        
        <hr />
        
    
    </div>

    <div class="container">
        <div class="row">
        
        
              <h4>A Short story about a Two random objects </h4>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec pellentesque nunc. Pellentesque mollis sem ut arcu porttitor dictum. Integer faucibus arcu ipsum, vitae fringilla arcu pellentesque in. Donec mollis lectus sed suscipit pellentesque. Maecenas at lacus vel magna pulvinar molestie eget quis neque. Mauris ut finibus nunc. Sed tincidunt posuere suscipit. Sed tortor orci, tincidunt sed interdum sit amet, feugiat a nunc. Fusce ut purus ut massa dictum varius. Fusce rhoncus ipsum ut ullamcorper pulvinar. Maecenas dapibus urna nec viverra cursus. Quisque augue tellus, semper non lorem ut, scelerisque porta quam.</p>
            <a href="#">
                <button type="button" class="btn btn-info">Download!</button>
            </a>
        
        </div>


    </div>

    <div class="container" >
        <div class="card text-white bg-dark mb-3">
  <div class="card-body">
    <p class="card-text">
      <p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Geek Squad Updated NOVA Scheduler</p>
<p>Mark Makowski</p>
<p>Updated 10/31/17</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Table of Contents</p>
<p><strong>Organic Proposal</strong> <strong>3</strong></p>
<p><strong>Response</strong> 3</p>
<p><strong>Project Report:</strong> <strong>4</strong></p>
<p>Initial Project Scope 4</p>
<p>Problem/Opportunity 5</p>
<p>User Interface / UX 6</p>
<p>Storyboard 7</p>
<p>Data Modeling &ndash; ERD 8</p>
<p><strong>Peer Reviewer&rsquo;s Comment </strong> <strong>9</strong></p>
<p><strong>Lessons Learned </strong> <strong>10</strong></p>
<p><strong>Updated Project Scope </strong> <strong>11</strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h1><u>Organic Proposal:</u></h1>
<p>Geek Squad Agents have noticed your employees and clients are experiencing difficulties with scheduling appointments. According to the Geek Squad Six Pointed Pledge, number three states that the client&rsquo;s time is more valuable than my own, yet this is not the case in many precincts. Many clients are required to wait before being checked-in, due to the amount of clients currently being served.</p>
<p>The client should be given a fast and easier method of making appointments, in store, as well as at home. Having a more intuitive, and lightweight scheduling service will reduce the waiting in store, as well as the ability to determine the work prior to the actual appointment.</p>
<p><u>&nbsp;</u></p>
<h1><u>Response</u></h1>
<p>No response given</p>
<p>&nbsp;</p>
<h1><u>Project Report:</u></h1>
<h1><br /> Initial Project Scope:</h1>
<p><strong><br /> </strong></p>
<h1>Problem/Opportunity:</h1>
<p>Currently, Geek Squad includes a scheduler within the Best Buy Employee Toolkit. For a Geek Squad employee to make an appointment, they must log into the Employee toolkit, and then Nova. This process, in most retail network settings, is time consuming. In most precincts, Consultation Agents, are removed from providing help to one client, in order to make another client an appointment, or &ldquo;answer a quick question&rdquo;. This wait-time creates distance between the current client and the acting agent.</p>
<p>In order to client to make appointments, the client must call the store, talk to a consultation agent in store, the Geek Squad 24/7 Support Line, or attempt to make the appointment online. In most cases, at the precinct level, most clients are unable to use their devices to make appointments.</p>
<p>&nbsp;A kiosk or web-application that can be used by clients, to see their information regarding their appointment time, the store&rsquo;s current turn time, how long their appointment should last, and how our pricing is, should be displayed to the client during the creation of the appointment.</p>
<p>&nbsp;</p>
<h1>User Interface Design / UX</h1>
<p>&nbsp;</p>

<h1>Storyboard</h1>
<h1>&nbsp;</h1>

<h1>Data Model and Design &ndash; ERD</h1>
<p>&nbsp;</p>

<p><u>Peer Reviewer&rsquo;s Comments</u></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; This project was reviewed by a peer in MIS 430. The primary focus of the comments were formatting and writing style issues. When exporting the document for review, several formatting issues occurred without being noticed. The reviewer also mentioned some concepts and ideas being redundant. These issues were promptly corrected.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The peer reviewer also recommended that a formal data model, and possibly a storyboard should be implemented into the report. During the time of the review, these sections were not completed. Creating these sections would effectively complete my project.</p>
<p>&nbsp;Reformatting, and restructuring of the document was required in order to accommodate the project scope. After the review was completed, a further individual review of the project scope occurred. A restructured project scope was required in order to accommodate the work that was completed.</p>

<h1><u>Lessons Learned:</u></h1>
<p>In the process of creating this proposal and project, there have been several concepts and ideas that I have learned. To start, I learned the created a Wireframe UX diagram allows anyone who is reading your project, to further understand how it should look visually. I did not realize how beneficial wireframing was until I started doing full-end development for another class. The wireframe sets the framework for the functionality of the product, and it allows developers to create the look and feel of their application, without actually making it. Design and UX can answer many of the data relationship questions that may be required to finish a certain task, such as really understanding the use case, and flow of data.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; In this project&rsquo;s case, I believe the storyboard is not very beneficial in showing the idea. Geek Squad current uses a model for their employees, called the Client Experience Model (CEM), which requires several steps of actually talking to the client prior to them making an appointment. I believe that removing this step, or allowing the client to make their own appointment, would be more beneficial for the company, and will satisfy a busy client.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; When creating the data model, I felt it was really interesting how each database would interact with each other. When creating service orders, the order is populated with information about the client, the device, and the description of the problem. Making a data model and showing the relationships between clients, devices, service orders, and agents shows where the information is being referenced. Referring to the service order table, most of the information within the table is a foreign key from another table. All of the information has been gathered at different points in time, so a service order can be easily generated using these foreign keys.</p>
<p>&nbsp;</p>
<h1><u>Updated Project Scope:</u></h1>
      
      
      
      </p>
  </div>
</div>
        
        
        
      
        
</div> 
        
        
        
        <hr />
        
        
        
        
    <br />

    <a href="javascript:history.go(-1)">
        <button type="button" class="btn btn-info">GO BACK</button>

    </a>
    <br />




{% endblock %}