{% extends "personal_header.html" %}

{% block body %}



    <h1 class="title">About</h1>
    <div class="container">
        
        <div class="row justify-content-center">
            <div class="col-md"> 
                <div class="card text-white bg-dark mb-3">
                    <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
                      <h1 id="info">Information</h1>
                        
                        <div class="card-text">
                            <p>Information About me</p>
                        <p>During the Spring 2017 semester, I was given the opportunity to intern at HAPPI 92.7 in Erie, assisting in projects that help betterment of the company. During this time, I have also taken the Radio Practicum class with Mr. Thomas Deau, and was given the opportunity to host my own radio show, called The Vinyl Version. It was all quite an enjoyable experience.

</p>
                        <p>
                        Big Sur spirit animal plant consciousness grass-fed continuum, positive affirmation herbal. Universal watsu heartbeat of our ancestors rediscovery, ganesh stable energy fields. Bodyworker chanting Hafiz, yerba matte kefir. Biodiesel hemp seed yoni meditation, midwifery loving kindness seasonal soul-level contract. East-west colloidal silver djembe Esalen goddess peacock feather didgeridoo, Braggs ganja. Ecofriendly multi-dimensional fasting, Dr. Bronner's reflexology.

                        Yoni reprogramming your DNA fertility awareness mercury retrograde third eye, tapping spirit animal. Ayahuasca himalayan sea salt nudist, personal development barefoot running activated charcoal dolphin alkaline lavender family constellation non-attachment. The power of intention workshop hemp seed harmful electromagnetic fields nature, tincture goddess. Biodiesel beltane rain dance nonviolent communication, grass-fed rediscovery synchronicity silent disco carob holographic resonance.


                        
                        
                        </p>
                        
                        <p>
                        Science has proven that optimal frequency Phish, salvia synchronicity change agent co-op. Didgeridoo loving kindness ecofriendly, projecting communal ganesh gifting circle. Psychic spirit animal chia seeds, sharing animal totem. Mushrooms sacred twelfth house enneagram grass-fed the wisdom of your body, wicca tofurkey. Sun salutation healer vitamix radiant, goddess gestalt multi-dimensional. Ponytail embracing and moving towards reprogramming your DNA, mala beads elder native american ancestry. Namaste.
                        
                        
                        </p>
                        
                        </div>
                        
                        

                    </div>
                </div>  
            </div>
            
            
            <div class="col-md"> 
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="/static/images/MeResized.jpg" alt="ME-Card_image">
                  <div class="card-body">
                    <h5 class="card-title">About Me!</h5>
                    <p class="card-text">
                        <address>
                        Mark Makowski <br>
                        724-882-4690	<br>			        	         						          
                        7145 Guyer Road<br>
                        New Kensington, PA 15068<br>
                        <a href="mailto:mark.a.makowski@gmail.com">mark.a.makowski@gmail.com</a><br>
                    </address>
                    <a href="/contact/" class="btn btn-primary">Contact</a>
                  </div>
                </div>
                

            </div>

        </div>
        
        <br />
        <a href="javascript:history.go(-1)">
            <button type="button" class="btn btn-info">GO BACK</button>

        </a>
        
        
    </div>
        
    <br />

    
    <br />




{% endblock %}