{% extends "personal_header.html" %}

{% block body %}



    <h1 class="title">Projects</h1>
    <div class="container">    
        <div class="row justify-content-center">
          <div class="col-sm-6">
            <div class="card text-white bg-dark" >
                 <a href="/writing/" ><img class="card-img-top" src="/static/port/CreativeLogo.jpg" alt="Card image cap"></a>
              <div class="card-body">
                <h5 class="card-title">Writing</h5>
                <p class="card-text">Experienced in Creative and Business Writing</p>
                <a href="/writing/" class="btn btn-primary">More</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card text-white bg-dark">
                 <a href="/bus/" ><img class="card-img-top" src="/static/port/BusLogo.jpg" alt="Card image cap"></a>
              <div class="card-body">
                <h5 class="card-title">Business Writing</h5>
                <p class="card-text">Created Feasibility Report and Action plan</p>
                <a href="/bus/" class="btn btn-primary">More</a>
              </div>
            </div>
          </div>
        </div>
        
        <hr />
        
        <div class="row justify-content-center">
          <div class="col-sm-6">
            <div class="card text-white bg-dark">
                <a href="/drawing/" ><img class="card-img-top" src="/static/images/farm.jpg" alt="Card Image - Drawing Sample"></a>
              <div class="card-body">
                <h5 class="card-title">Drawing</h5>
                <p class="card-text">Technical, Hand, and Illustrator Drawings</p>
                <a href="/drawing/" class="btn btn-primary">More</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card text-white bg-dark">
                <a href="/production/" ><img class="card-img-top" src="/static/port/vinyllogo.png" alt="Card Image - Production Logo"></a>
              <div class="card-body">
                <h5 class="card-title">Production</h5>
                <p class="card-text">Skilled in audio suites such as ProTools and Adobe Audition</p>
                <a href="/production/" class="btn btn-primary">More</a>
              </div>
            </div>
        </div>
    </div>
        
        <hr >
        
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="card text-white bg-dark">
                <a href="/photography/" ><img class="card-img-top" src="/static/port/PhotoImage.jpg" alt="Card Image - Photography Logo"></a>
                <div class="card-body">
                    <h5 class="card-title">Photography</h5>
                    <p class="card-text">Coming Soon :D</p>
                    <a href="/production/" class="btn btn-primary disabled">More</a>
                </div><!--Card Text / Body -->
            </div><!--Card-->
        </div><!--Col-->
        <br />
        <div class="col-sm-6">
            <div class="card text-white bg-dark">
                <a href="/web_design/" ><img class="card-img-top" src="/static/port/partnership.jpg" alt="Card Image - Web Design Logo"></a>
                <div class="card-body">
                    <h5 class="card-title">Web Design / Developement</h5>
                    <p class="card-text">Coming Soon :D</p>
                    <a href="/web_design/" class="btn btn-primary disabled">More</a>
                </div><!--Card Text / Body -->
            </div><!--Card-->
        </div><!--Col-->
    </div><!--Row-->
    <hr>
        
    <br />

    <a href="javascript:history.go(-1)">
        <button type="button" class="btn btn-info">GO BACK</button>

    </a>
    <br />
</div>



{% endblock %}