{% extends "personal_header.html" %}

{% block body %}



    <h1 class="title" style="font-size:900%; left: -3%;">Solicitation</h1>
    <div class="container">    
        <div class="row justify-content-center">
            <h3>Solicitation Letter</h3>
            <p>&nbsp;</p>
            <br />
            
        </div>
        
        <hr />
        
    
    </div>

    <div class="container" id="rowText">
        <div class="row">
        
        
              <h4>A Soliciation letter written for the Information Technology Service desk at Penn Staste Behrend.  </h4>
            
                
        
        </div>
        <div class="row">
            <p>Written for Business Writing credit at Penn State Behrend</p>
        </div>

    </div>

    <div class="container" >
        <div class="card text-white bg-dark mb-3" >
          <div class="card-body">
            <p class="card-text">
              <p><span style="font-weight: 400;">3000 Hanover St</span></p>
<p><span style="font-weight: 400;">Palo Alto, CA 94304</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">December 9, 2016</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Lawrence Kosin, IT Academic Manager</span></p>
<p><span style="font-weight: 400;">Penn State Behrend, Computer Center </span></p>
<p><span style="font-weight: 400;">4701 Behrend College Dr.</span></p>
<p><span style="font-weight: 400;">0130 Hammermill/Zurn Building &nbsp;</span></p>
<p><span style="font-weight: 400;">Erie, PA 16563</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Dear Mr. Kosin,</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Do constant repairs bother you? You can have the peace of mind knowing that HP will take care of the repairs. HP&rsquo;s fantastic service warranty will keep your computers performing optimally. With the purchase of a new tower, you will also receive a first-rate warranty. If you are currently doing repairs or need to replace your current towers, now is the time to buy. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Computers become slower and unreliable after five years. When is the last time you updated your computers? Keep in mind that hardware problems could arise at any moment with old equipment. Would you feel more comfortable knowing support is always available? Purchasing new equipment with an HP warranty will provide peace of mind and eliminate unexpected hardware repair costs. HP&rsquo;s equipment is award winning and comes with our customer satisfaction guarantee. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">HP&rsquo;s promise to you:</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">24/7 customer service support for the lifetime for your devices.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Installation training in order to ensure your satisfaction.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Free performance tests to make sure the right product is selected for your need.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Reputable, trusted brand with a current customer base of millions of satisfied customers. &nbsp;</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Variety of software packages available for a personalized experience.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Academic package pricing to provide the most cost-efficient pricing for needs.</span></li>
</ul>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">HP representatives will be in your area for a free consultation on December 16, 2017. For more information, you can reach us at (814) 520-1000 or email mam6990@psu.edu. At the very least come for a free lunch!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Sincerely,</span></p>
<p><span style="font-weight: 400;">Mark Makowski</span></p>
              </p>
          </div>
        </div>
        
        
        
      
        
</div> 
        
        
        
        <hr />
        
        
        
        
    <br />

    <a href="javascript:history.go(-1)">
        <button type="button" class="btn btn-info">GO BACK</button>

    </a>
    <br />




{% endblock %}