{% extends "personal_header.html" %}

{% block body %}



    <h1 class="title">Creative</h1>
    <div class="container">    
        <div class="row justify-content-center">
          <div class="col-sm-6">
            <div class="card text-white bg-dark">
                 <img class="card-img-top" src="/static/port/CreativeLogo.jpg" alt="Card Image - The Journey">
              <div class="card-body">
                <h5 class="card-title">The Journey</h5>
                <p class="card-text">Experienced in Creative Writing</p>
                <a href="/journey/" class="btn btn-primary">More</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card text-white bg-dark">
                 <img class="card-img-top" src="/static/port/Grot.png" alt="Card image - Grotesque">
              <div class="card-body">
                <h5 class="card-title">Grotesque</h5>
                <p class="card-text">Fiction Writing of a Grotesque Character</p>
                <a href="/grot/" class="btn btn-primary">More</a>
              </div>
            </div>
          </div>
        </div>
        
        <hr />
        
        <div class="row justify-content-center">
          <div class="col-sm-6">
            <div class="card text-white bg-dark">
                 <img class="card-img-top" src="/static/port/objects.png" alt="Card image - Objects">
              <div class="card-body">
                <h5 class="card-title">The Chair and Goat</h5>
                <p class="card-text">A Fictional story about two random objects.</p>
                <a href="/obj/" class="btn btn-primary">More</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card text-white bg-dark">
                 <img class="card-img-top" src="/static/port/College.png" alt="Card image - College">
              <div class="card-body">
                <h5 class="card-title">A Day In College</h5>
                <p class="card-text">Fiction Writing of a normal college party</p>
                <a href="/story/" class="btn btn-primary">More</a>
              </div>
            </div>
          </div>
        </div>
        
        
    
    </div>
        
        
        
        
        <hr />
        
        
        
        
        
    </div>
        
    <br />

    <a href="javascript:history.go(-1)">
        <button type="button" class="btn btn-info">GO BACK</button>

    </a>
    <br />




{% endblock %}