{% extends "header.html" %}

{% block body %}

<div class="container">
    <h1>Jinja Templating Examples</h1>

    
    <hr>
    <h2>For Loop with Jinja</h2>
    {% for o in output %}
        <p>
        {{o}}</p>
    {% endfor %}

    <hr>
    <h2>If statement with Jinja</h2>
    
    {% if output[3]|int > 10%}
        <p> {{output[3]}} is greater than 10 </p>
    
    
    {% endif %}
    
    <hr>
    <h2>Replace () with jinja</h2>
    <p>{{ output[0]|replace('good','Ducks') }}</p>
    
    <hr>
    <h2>Loop through string with split and make it a list.</h2>
    <ul>
    {% for lang in output[1].split(',') %}
        <li>{{lang}}</li>
    
    {% endfor %}
    </ul>
    
    <hr>
    <h2>True HTML</h2>
    
    {{output[2]}}|safe}}
    
    <hr>
    
    
    <h2>RenderCode</h2>
    <pre>
    {% raw %}
        {% for cat in cats %}
            {{cat}}
        {% endfor %}
    {% endraw %}
    </pre>
    
    <h2>Jinja Macros</h2>
    
    {% macro input(name, value='', type='text', size=20) -%}
        <input type="{{ type }}" name="{{ name }}" value="{{
            value|e }}" size="{{ size }}">
    {%- endmacro %}
    <p>{{ input('username') }}</p>
    <p>{{ input('password', type='password') }}</p>
    
</div>

    

{% endblock %}